<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="luspUdq52gkUU0FFChQ2xmeXSs5HDafpARQ7fVXVBp4" />
    <title><%= current_page.data.title || "API Documentation" %></title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="images/favicon/mstile-310x310.png" />

    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if language_tabs %>
      <script>
        $(function() {
          setupLanguages(<%
            languages = []

            language_tabs.each do |lang|
              if lang.is_a?(Hash)
                if lang.has_key?("tag")
                  languages.push(lang)
                else
                  languages.push({tag: lang.keys.first, label: lang, selector: ".highlight." + lang.keys.first})
                end
              else
                languages.push({tag: lang, label: lang, selector: ".highlight." + lang})
              end
            end
          %><%= languages.to_json %>);
        });
      </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <div class="wrapper">
        <div id="logo">
            <a href="http://kuzzle.io/">&nbsp;</a>
        </div>

        <nav>
          <ul>
            <li>
              <a href="http://kuzzle.io/" class="nav-item">Home</a>
            </li>

            <li>
              <a href="http://kuzzle.io/documentation" class="nav-item developers">Documentation</a>
            </li>
<!--
            <li>
              <a href="http://kuzzle.io/demos-tutorials/" class="nav-item ">Demos</a>
            </li>

            <li>
              <a href="http://kuzzle.io/blog/" class="nav-item ">Blog</a>
            </li>
-->

            <li>
              <a href="https://github.com/kuzzleio/kuzzle" target="_blank" class="nav-item github">
                <i class="icon icon-github icon-small"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="developer-nav open">
        <ul>
            <li><a href="http://kuzzle.io/documentation/guide/"><span>Guide</span></a></li>
            <li><a href="http://kuzzle.io/documentation/sdk-reference/"><span>SDK</span></a></li>
            <li><a href="http://kuzzle.io/documentation/real-time-filters/"><span>Real-time filters</span></a></li>
            <li><a href="http://kuzzle.io/documentation/validation-reference/"><span>Data Validation</span></a></li>
            <li><a href="http://kuzzle.io/documentation/api-reference/"><span>API</span></a></li>
            <li class="active"><a href="http://kuzzle.io/documentation/plugin-reference/"><span>Plugins</span></a></li>
            <li><a href="http://kuzzle.io/documentation/elasticsearch-cookbook/"><span>Elasticsearch Cookbook</span></a></li>
        </ul>
        <div class="search">
          <input type="text" class="search" id="input-search" tabindex="1" placeholder="Search in the guide">
        </div>
      </div>
    </header>

    <div class="container">
      <a href="#" id="nav-button">
        <span>
          NAV
          <%= image_tag('navbar.png') %>
        </span>
      </a>
      <div class="tocify-wrapper">
        <% if language_tabs %>
          <div class="lang-selector">
            <% languages.each do |lang| %>
              <a href="#" data-language-name="<%= lang.tag %>"><%= lang.label %></a>
            <% end %>
          </div>
        <% end %>
        <% if current_page.data.search %>
          <ul class="search-results"></ul>
        <% end %>

<!--
        <div id="version-selector">
          <label>
            select version:
            <select>
              <option value="/">v1.0.x (current)</option>
              <option value="/v/edge">next</option>
            </select>
          </label>
        </div>
-->

        <div id="toc">
        </div>
        <% if current_page.data.toc_footers %>
          <ul class="toc-footer">
            <% current_page.data.toc_footers.each do |footer| %>
              <li><%= footer %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="page-wrapper">
        <div class="dark-box"></div>
        <div class="content">
          <%= yield %>
          <% current_page.data.includes && current_page.data.includes.each do |include| %>
            <%= partial "includes/#{include}" %>
          <% end %>
        </div>
        <div class="dark-box">
          <% if language_tabs %>
            <div class="lang-selector">
              <% languages.each do |lang| %>
                <a href="#" data-language-name="<%= lang.tag %>"><%= lang.label %></a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'kuzzleio/kuzzle'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script type="text/javascript">
      (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
                  (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-67035328-1', 'auto');
      ga('send', 'pageview');


      (function() {
        var
          r,
          version;

        r = /\/v\/([^/]+)(?:\/[^/]+\.html?)?$/.exec(window.location.pathname);

        if (r) {
          version = r[1];
          $('#version-selector option[value="/v/' + version + '"]').prop('selected', true);
        }

        $('#version-selector').change(function (e) {
          var
            versionPath = $('#version-selector option:selected').val();
          window.location = window.location.pathname
            .replace(/\/v\/([^/]+)(\/[^/]+\.html?)?$/, '\2')
            + versionPath
            +'#' + window.location.hash;
        });
      })();
    </script>
  </body>
</html>
